.bk-category-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bk-category {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.4s ease;
  background-color: #fbeedb;
  border: none;
}

.bk-category:hover {
  transform: scale(1.02);
  z-index: 1;
}

.bk-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  font-family: 'Arial Black', sans-serif;
}

.bk-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.bk-content p {
  font-size: 1rem;
  margin-top: 0;
}

.bk-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

.bk-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.25;
  transition: transform 0.4s ease;
  z-index: 1;
}

.bk-category:hover .bk-bg-image {
  transform: scale(1.1);
}

.bk-category.left {
  background-color: #fca800; 
}

.bk-category.right {
  background-color: #178f3e; 
}

.bk-bg-image-category {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  z-index: 1;
  transition: transform 0.4s ease;
}

.bk-category:hover .bk-bg-image-category {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .bk-category-container {
    flex-direction: column;
    height: auto;
  }

  .bk-category {
    width: 100%;
    height: 50vh;
  }

  .bk-content h2 {
    font-size: 1.8rem;
  }

  .bk-icon {
    font-size: 2.5rem;
  }

  .bk-content p {
    font-size: 1rem;
  }
}

