h1,
p {
    color: #502212;
    font-size: 0.8rem;
}

h1 {
    text-align: left;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

/*Section download app*/
.section-download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto;
}

.article-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 38%;
    height: 100%;
}

.article-left img {
    width: 35rem;
    height: 35rem;
}

.section-right {
    display: flex;
    grid-gap: 2.5rem;
    gap: 2.5rem;
    width: 62%;
    padding-bottom: 10vh;
}

.img-arrow {
    margin-top: 1rem;
    width: 4.5rem;
    height: 2.625rem;
    text-align: right;
}

.article-qr-wrapper {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}

.img-qr {
    padding: 1rem;
    background-color: #fff9ef;
    border-radius: .625rem;
}