p {
    color: #502212;
    font-size: 0.8rem;
}

.article-text-wrapper h1 {
    color: #502212;
    text-align: left;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

/*Section download app*/
.section-download-app {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto;
}

.article-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 38%;
    height: 100%;
}

.article-left img {
    width: 35rem;
    height: 35rem;
}

.section-right {
    display: flex;
    grid-gap: 2.5rem;
    gap: 2.5rem;
    width: 62%;
    padding-bottom: 10vh;
}

.img-arrow {
    margin-top: 1rem;
    width: 4.5rem;
    height: 2.625rem;
    text-align: right;
}

.article-qr-wrapper {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}

.img-qr {
    padding: 1rem;
    background-color: #fff9ef;
    border-radius: .625rem;
}

/*Section kingdom*/
.section-kingdom-wrapper {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    background: #d62300;
}

.section-kingdom-wrapper-content {
    position: relative;
    max-width: 30rem;
    margin: 0 auto;
    padding: 4.75rem 7.875rem;
    background: #ca2100;
    border-radius: 1.25rem;
}
.section-kingdom-wrapper-content img{
    height: auto;
    max-width: 100%;
}