.app-section-homepage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d62300;
  color: white;
  padding: 80px 100px;
  flex-wrap: wrap;
  position: relative;
}

.app-section-left-homepage{
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.bk-phone-homepage{
  width: 250px;
  z-index: 2;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}

.app-section-right-homepage{

  max-width: 500px;
}

.app-section-right-homepage h1{
  font-size: 45px;
  line-height: 1.2;
  font-family: "Cooper Black", sans-serif;
  margin-bottom: 20px;
  padding-right: 20px;
}
.bk-app-button-homepage{
    background-color: rgb(106, 23, 23);;
    border-radius: 25px;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.bk-app-button-homepage:hover{
     background-color: #3c1f0e;
}

.qr-code-homepage{
  position: relative;
  bottom: 30px;
  right: 40px;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}