.app-banner-homepage {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #662914; 
  border-radius: 8px;
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
   z-index: 2147483647;
}

.app-banner-homepage:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.app-link-homepage {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-logo-banner-homepage {
  width: 40px;
  height: 40px;
}

.app-text-homepage {
  line-height: 1.1;
  font-size: 12px;
}
.app-text-homepage:hover{
    color: white;
}

.arrow-homepage {
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
}

.arrow-homepage:hover{
    color: white;
}