@font-face {
    font-family: 'Flame';
    src: url('./assets/fonts/Flame-Regular.woff') format('woff'),
        url('./assets/fonts/Flame-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
main {
    min-height: 100vh;
    background-color: black;
}
footer *{
    display: inline-block;
    background-color: #502212;
}
#root {
    width: 100%;
    font-family: 'Flame', sans-serif;
}

img {
    width: 50px;
}

.nav-hamburger,
.nav-logo {
    display: flex;
    justify-content: center;
}

.nav-hamburger {
    width: 35%;
    justify-content: left;
    margin-left: 15px;
}

.nav-logo {
    width: 30%;
    justify-content: center;
}

.nav-pages {
    width: 35%;
    justify-content: right;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 15px 0 15px 0;
    background-color: #F5EBDC;
}

.nav-myBK {
    border: 1px solid red;
    background-color: red;
    border-radius: 40px;
    color: white;
}

li {
display: inline-block;
}

li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}
li a:hover,
.dropdown:hover .dropbtn {
    color: red;
}

.nav-myBK:hover {
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5EBDC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}